/.cache
/auto-save-list
/eln-cache
/elpa
/snippets
/transient
/var
.lsp-session-v1
projectile-bookmarks.eld
recentf
flycheck_init.elt
flycheck_init.el
projects
.last-package-update-day
tramp
/workspace